<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>手机型号.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E8134A31E5AEC7900A5DEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E8134BC1E5AEC7900A5DEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E8134C71E5AEC7900A5DEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
